//Title BOLD
$font_huge: 220px;
$font_big_title: 55px;
$font_subtiles: 43px;
$font_subtiles_h3: 30px;

//regular // light

$font_paragraphe: 25px;
$font_little_paragraphe: 19px;
$font_vsmall_paragraphe: 15px;

//police

$font: Realist;

//color

$font_blue: #002554;
$font_white: #daeff1;

$white: #ffffff;
$black: #000000;

$font_color_secondary1: #074a7b;
$font_color_secondary2: #4383a0;
$font_color_secondary3: #232222;
$font_color_secondary4: #0940D3;
$font_color_secondary5: #0011A8;
$font_color_secondary6: #8E9AE0;
$font_color_secondary7: #0047BE;
$font_color_secondary8: #A9C8F4;