//Title BOLD
$font_big_title: 55px;
$font_subtiles: 36px;
$font_subtiles_h3: 30px;

//regular // light

$font_paragraphe: 25px;
$font_little_paragraphe: 19px;

//police

$font: Realist;

//color

$font_blue: #002554;
$font_white: #daeff1;

$font_color_secondary1: #074a7b;
$font_color_secondary2: #4383a0;
$font_color_secondary3: #232222;