#org {
    width: 100%;
    height: 550px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.16);
    background-color: #00129d;
    color: #ffffff;
    
   
}

.trait {
    width: 500px;
    height: 0;
    margin: 0 20px;
    border: solid 2px #daeff3;
}

h1 {
    text-align: center;
    padding-top: 90px;
}

article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 80px;
}

article a {
    font-weight: 800;
    font-size: 28px;
}

article p{
    font-size: 16px;
}

.texte {
    width: 100%;
    
}

