#org {
    width: 100%;
    height: auto;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.16);
    padding: 150px 0;
    background-color: #00129d;
    color: #ffffff;
}

.trait {
    width: 100px;
    height: 0;
    margin: 0 auto;
    border: solid 2px #daeff3;
}

h1 {
    text-align: center;
}

article {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
    margin-top: 50px;
}

article a {
    font-weight: 800;
    font-size: 28px;
}

article p{
    font-size: 16px;
    text-align: center;
}

.texte {
    width: 350px;
    text-align: center;
    margin: 0 auto;
}

