@import '../bootstrap/bootstrap.scss';

.section_cards{

    width: 100%;
    
    .band{
        width: 100%;
        height: 100px;
        background-color: #074A7B;
    }

    p{
        text-align: center;
    }

}