@import '../bootstrap/bootstrap.scss';
  
.band{
    width: 100%;
    background-color: #00129D;

    p{
        text-align: center;
        font-size: 25px;
        padding: 30px 0;
        color: white;
    }
}

.section_cards{
    width: 100%;
    background-size: cover;
    
 
    .all_cards{
        display: flex;
        justify-content: space-evenly;
        flex-flow: row wrap;
        padding: 15% 0;
    }

    .card{
        width: 400px;
        border-radius: 40px;
        border: none;

        .card-body{
           padding-bottom: 75px;
           border-radius: 40px;
           box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.062);
        }
        h5{
            font-weight: bold;
            font-size: 24px;
            color: #074A7B;
        }
        p{
            font-size: 15px;
        }
    }
}

