footer {
    width: 100%;
    background-color: $font_color_secondary3;
    display: flex;
    flex-direction: column;
    margin-top: 150px;

    .first-footer-section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 30px;
        padding: 0 100px;

        div {
            display: flex;
            flex-direction: column;

            p {
                font-size: $font_vsmall_paragraphe;
                color: $white;
            }
        }
    }

    .second-footer-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 145px;
        margin-top: 50px;
        margin-bottom: 50px;

        .copyrights {
            color: $font_color_secondary6;
        }
    }
}