@import '../bootstrap/bootstrap.scss';

.header {
    width: 100%;

    .navbar {
        width: 100%;
        box-shadow: 0 5px 10px $gray-300;
        display: flex;
        justify-content: center;

        .logo {
            width: 150px;
            height: 150px;
        }
    }

    .messaging {
        font-family: $font-family-realist;
        text-align: center;
        font-weight: $font-weight-bold;
        font-size: 45px;
        margin-top: 100px;
        padding: 0 250px;
    }

    .collab {
        @extend .messaging;
        font-weight: 400;
        font-size: 20px;
        padding: 0;
    }
}