#beta {
    width: 100%;
    text-align: center;
    justify-content: center;
    h2 {
        font-family: $font-family-realist;
        font-size: 55px;
        font-weight: $font-weight-bold;
    }
    .btn {
        color: #fff;
        background-color: #367FED;
    }
    .input-beta {
        margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    }
}