.beta {
    width: 100%;
    text-align: center;
    justify-content: center;
    
    .enroll {
        font-size: 220px;
        color: #A9C8F4;
        text-align: center;
    }

    .treat {
        font-size: 43px;
        color: #232222;

        span {
            color: #0047BE;
        }
    }
}