.service {
  width: 100%;
  background-color: $font_color_secondary5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;

  h2 {
    font-weight: $font-weight-bold;
    font-size: $font_subtiles;
    color: $white;
    margin-bottom: 100px;
  }

  .service-section {
    display: flex;
    flex-direction: row;
    // justify-content: space-around;
    // margin: 30px;

    .service-card {
      background-color: $white;
      margin: 0 30px;
      padding: 15px;
      border-radius: 20px;
      width: 300px;
      
      div {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;

        img {
          width: 27px;
          height: 27px;
          align-self: flex-start;
        }

        h3 {
          color: $font_color_secondary5;
          font-size: 22px;
          font-weight: $font-weight-bold;
          margin-left: 20px;
        }
      }
    }
  }
}