#service {
    width: 100%;
    text-align: center;
}

.container {
    width: 90%;
    margin: 50px auto;
  }
  h2 {
    font-family: $font-family-realist;
    font-size: 55px;
    font-weight: $font-weight-bold;
}
  h3 {
    color: #423d4b;
    font-size: 1.3em;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
  }
  
  .card {
    // width: 20%;
    width: calc(33.3333% - 50px);
    background: #fff;
    border: none;
  }
  
  h3 {
    text-align: left;
    color: black;
  }
  p {
    text-align: left;
    font-size: 18px;
  }
  
  
  @media screen and (max-width: 1000px) {
    .card {
      width: 40%;
    }
  }
  
  @media screen and (max-width: 620px) {
    .container {
      width: 100%;
    }
  
    .heading {
      padding: 20px;
      font-size: 20px;
    }
  
    .card {
      width: 80%;
    }
  }
